body {
  font: 10pt "Verdana", sans-serif;
  margin: 20px;
  text-align: center;
  color: #000000;
  background: #dddddd;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

#page {
  background: #ffffff;
  border: 1px solid #7f7f7f;
  width: 680px;
  margin: 20px auto 20px;
  text-align: left;
  padding: 10px;
}

#header {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #7f7f7f;
}

#header h1 {
  /*float: left;*/
  font-size: 180%;
  font-weight: bold;
  padding: 5px;
  margin: 0 0 10px;
}

#help {
  float: right;
}

#menu {
  float: left;
  clear: both;
  width: 40px;
}

#menu span {
}

#status-container {
  clear: both;
  padding-top: 10px;
}

#status {
  margin: 0 auto 0;
  height: 20px;
  line-height: 18px;
}

#board-container {
  float: right;
  clear: right;
  /*border: 1px solid blue;*/
  /*width: 456px; /* 24*19 */
  text-align: center;
}

#footer {
  clear: both;
  text-align: center;
  font-size: 70%;
  color: #7f7f7f;
  padding-top: 10px;
}

#footer a{
  color: #7f7f7f;
}

#dialog-new {
  text-align: left;
}

#dialog-new input {
  width: 80px;
}

#dialog-info {
  text-align: left;
  font-size: 10pt;
}

#dialog-help {
  text-align: left;
  font-size: 10pt;
}

#dialog-settings {
  text-align: left;
  font-size: 10pt;
}

#dialog-settings table{
  text-align: left;
  font-size: 10pt;
  margin-left: auto;
  margin-right: auto;
}

#dialog-settings input,select {
  width: 100px;
}

#dialog-settings input.checkbox {
  width: 20px;
}

#dialog-settings input.withcheckbox {
  width: 75px;
}

#dialog-settings input.disabled {
  color: #7f7f7f;
}

.info {
  font-size: 8pt;
}

.singlestone {
  vertical-align: middle;
  padding-top: 2px;
}

.pullright {
  float: right;
}

