body {
  font: 10pt "Verdana", sans-serif;
  margin: 20px;
  text-align: center;
}

#page {
  border: 1px solid #7f7f7f;
  width: 680px;
  margin: 20px auto 20px;
  text-align: left;
  padding: 10px;
}

#header {
  text-align: center;
}

#header h1 {
  float: left;
  font-size: 180%;
  font-weight: bold;
  padding: 5px;
  margin: 0 0 10px;
}

#menu {
  float: left;
  clear: both;
  width: 195px;
}

#menu button {
  width: 190px;
}

#status {
  float: left;
  clear: left;
  width: 190px;
  margin-top: 10px;
}

#board-container {
  float: right;
  clear: right;
  /*border: 1px solid blue;*/
  /*width: 456px; /* 24*19 */
  text-align: center;
}

#footer {
  clear: both;
  text-align: center;
  font-size: 80%;
  color: #7f7f7f;
  padding-top: 10px;
}

#dialog-new {
  text-align: left;
}

#dialog-new input {
  width: 80px;
}

